{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Willians Nieves website - Desarrollo web, videogames y movil de profesionales para profesionales</title>
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/errors.css' %}">
    <style type="text/css">
			@import url(//fonts.googleapis.com/css?family=Geo);
			@import url(//fonts.googleapis.com/css?family=Shojumaru|Bangers|Slackey|Ceviche+One);

			*{
				margin:0;
				padding: 0;
			}
			.hiddenText {
				font-family: 'Shojumaru';
				visibility: hidden;
			}
	</style>
</head>
<body>

   <section class="row">
       <section class="large-12 medium-12 small-12 columns">
            <h1>System Error Sorry I'm workin to solve this please come back later</h1>
           <div id="gameDiv">
            <p class='hiddenText'>.</p>
            </div>
       </section>
   </section>



	<!--<script src="//localhost:35729/livereload.js"></script>-->
	<script type="text/javascript" src="{% static 'js/game/js/phaser.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/game/js/boot.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/game/js/load.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/game/js/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/game/js/config.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/game/js/play.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/game/js/game.js' %}"></script>



</body>
</html>