{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Portafolios personal donde puedes ver mis trabajos, proyectos que estoy desarrollando, experimentos con nuevas tecnologías y contenido que estare creando y compartiendo contigo">
	<meta property="og:image" content="{% static 'images/logo.png' %}" />
    <title>Willians Nieves website - Desarrollo web, videogames y movil de profesionales para profesionales</title>
	<link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
	<link rel="stylesheet" href="{% static 'css/webstyle.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

    {% block contentHead %}

    {% endblock contentHead %}
</head>
<body>

    {% block navigation %}
        {% include 'menu.html' with item1="home" item2="sitio 3D" item3="perfil" item4="portafolios" item5="laboratorio" item6="tutoriales" item7="contacto" item8="blog"%}
    {% endblock navigation %}

    {% block content %}

    {% endblock content %}


    {% include 'contact/contactmodal.html' %}



	
	<!--<script src="//localhost:35729/livereload.js"></script>-->
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
	<script src="{% static 'foundation/js/foundation/foundation.equalizer.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    {% block libs%}

    {% endblock libs%}
	<script src="{% static 'lib/snap.svg-min.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60988840-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>