{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    <section class="row tablet-page">
		<section class="medium-12 columns detail-images-tablet">
			<figure>
				<img src="{% static 'images/detailimg1tablet.jpg' %}" alt="">
				<figcaption>
					<h2>{{portfolio_detail.title}}</h2>
					<p> {{portfolio_detail.description}}</p>
					<a href=""><span class="icon-arrow-down"></span></a>
				</figcaption>
			</figure>
		</section>
	</section>

	<section class="row web-page">
		<section class="medium-12 columns detail-images-tablet">
            <h2>Titulo</h2>
			<figure>
				<img src="{% static 'images/detailimg1tablet.jpg' %}"  alt="" style="width: 100%; height:400px;">
			</figure>
            <div>
                <p>Description</p>
            </div>

		</section>
	</section>
{% endblock content %}