{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    <section class="row web-page">
		<div id="container-wall" class="free-wall">
            {% for lab in lab_list %}
                 {% if isImage %}
                    <div class="box lab-image-content">
                        <figure>
                            <img src="{% static 'images/1.png' %}" alt="">
                            <figcaption>
                                <h3>{{lab.title}}</h3>

                                <p>{{lab.description}}</p>
                            </figcaption>
                        </figure>

                    </div>
                {% endif %}

                <div class="box w2 text-content-lab">
                    <h3>{{lab.title}}</h3>
                    <p>
                        {{lab.description}}
                    </p>

                </div>

            {% empty %}
               <div>no hay nada</div>


            {% endfor %}


		</div>
	</section>
{% endblock content %}

{% block libs%}
        <script src="{% static 'lib/imagesloaded.pkgd.min.js' %}"></script>
	    <script src="{% static 'lib/masonry.pkgd.min.js' %}"></script>
        <script src="{% static 'js/gridMasonry.js' %}"></script>
{% endblock libs%}
