<div id="myModal" class="reveal-modal" data-reveal>
	    <h1>Contacto <span class="icon-bubble"></span></h1>
	    <div class="contact-form-wrapper">
			<form action="" id="contact-form">
				<div class="row">
				    <div class="large-6 medium-6 columns">
				      <label><span class="icon-profile-male"></span> Nombre
				        <input class="contact" id="line-input-name" type="text" />
				      </label>
				    </div>

				    <div class="large-6 medium-6 columns">
				      <label><span class="icon-mail"></span>Email
				        <input class="contact" id="line-input-email" type="email" />
				      </label>
				    </div>
			    </div>

			    <div class="row">
				    <div class="large-12 medium-12 columns">
				      <label>Mensaje
				      	<textarea class="contact" id="line-input-message" rows="10" cols="50">
				      	</textarea>
				      </label>
				    </div>
			    </div>

			    <div class="row">
				    <div class="large-12 medium-12 columns">
				      <a role="button" aria-label="submit form" href="#" class="button center-buttton-form">Enviar</a>
				    </div>
			    </div>

			    <div class="row">
					<div class="large-12 medium-12 columns">
						<div class="web-social-contact">
							<div class="web-phone-contact">
								<span class="icon-phone">
						    	</span>
						    	<div>
						    		<p>+584142144310</p>
						    		<p>+582124819395</p>
						    	</div>

							</div>

					    	<a href="http://twitter.com"><span class="icon-twitter"></span></a>
					    	<a href="http://linkedin.com" target="blank"><span class="icon-linkedin"></span></a>
					    	<a href="http://github.com"><span class="icon-github"></span></a>
					    	<a href="http://careers.stackoverflow.com/williansnieves"><span class="icon-stackoverflow"></span></a>
						</div>

					</div>

			    </div>

			</form>
		</div>
	  <a class="close-reveal-modal">&#215;</a>
	</div>
