{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    <section class="row small-page">

		<section class="small-12 profile-image">
			<figure>
				<img src="{% static 'images/inicio.png' %}" width="640" height="550" alt="" />
			</figure>
		</section>
		<section class="small-12">
			<div class="content-profile-description">
				<h2>{{profile.name}}</h2>
				<p>
					Desarrollador de Aplicaciones
				</p>
				<p>
					Apps Moviles / Games / Web
				</p>
			</div>
		</section>
		<section class="small-12" id="profile">
			<div class="bio-description">
				<div class="info-title-profile">
					<h2>Willians Nieves</h2>
					<h4>Desarrollador de aplicaciones</h4>
					<h4>Aplicaciones web</h4>
					<h4>Aplicaciones moviles</h4>
					<h4>Videogames</h4>
				</div>

				<div class="info-profile">
					<p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man. </p>

				</div>
				<figure class="bg-bio">
					<img src="{% static 'images/bio.png' %}" alt="" />
				</figure>
			</div>
		</section>

		<section class="small-12">
			<div class="skill-content">
				<div class="title-skill">
					<h2>Skills</h2>
				</div>
				<div class="list-skill">
					<ul>
                        {% for skill in skills %}
                            <li>{{skill | title}}</li>
                        {% endfor %}

					</ul>
				</div>

			</div>
		</section>

		<section class="small-12">
			<section class="potfolio-categories">
                {% for category in categories %}
				<div class="item-categories">
					<div class="image-cat" style="background-image: url({% static category.url %})"></div>
					<div class="mesh-image mesh-image-{{category}}"></div>
					<h3>
                        <a href="/portfolio/{{category}}">{{category | title}}</a>
                    </h3>
				</div>
                {% endfor %}
				<!--<div class="item-categories">
					<div class="image-cat" style="background-image: url(http://lorempixel.com/640/480/business/)"></div>
					<div class="mesh-image mesh-image-2"></div>
					<h3>WEB</h3>
				</div>
				<div class="item-categories">
					<div class="image-cat" style="background-image: url(http://lorempixel.com/640/480/abstract/)"></div>
					<div class="mesh-image mesh-image-3"></div>
					<h3>GAMES</h3>
				</div>-->
			</section>
		</section>
		<section class="small-12" id="contacto">
			<div class="contact-form-wrapper">
				<h2>Contacto</h2>
				<form action="" id="contact-form">
				    <div class="small-12 columns less-padding">
				      <label>Nombre
				        <input class="contact" id="line-input-name" type="text" />
				      </label>
				    </div>


				    <div class="small-12 columns less-padding">
				      <label>Email
				        <input class="contact" id="line-input-email" type="email" />
				      </label>
				    </div>


				    <div class="small-12 columns less-padding">
				      <label>Mensaje
				      	<textarea class="contact" id="line-input-message" rows="10" cols="50"></textarea>
				      </label>
				    </div>



				    <div class="small-12 columns less-padding">
				      <a role="button" aria-label="submit form" href="#" class="button center-buttton-form">Enviar</a>
				    </div>

				</form>
			</div>

            <div class="small-12 columns">
                <div class="web-social-contact">
                    <div class="web-phone-contact">
                        <span class="icon-phone">
                        </span>
                        <div>
                            <p>+584142144310</p>
                            <p>+582124819395</p>
                        </div>

                    </div>

                    <a href="https://twitter.com/mrsnow85"><span class="icon-twitter"></span></a>
                    <a href="https://www.linkedin.com/pub/willians-nieves/43/206/84a" target="blank"><span class="icon-linkedin"></span></a>
                    <a href="https://github.com/williamsnieves"><span class="icon-github"></span></a>
                    <a href="https://careers.stackoverflow.com/williansnieves"><span class="icon-stackoverflow"></span></a>
                </div>

            </div>



		</section>
	</section>

	<section class="row tablet-page">
		<section class="medium-12 columns profile-desc-tablet">
			<div class="medium-6 columns">
				<div class="content-profile-description-tablet" >
					 {% for prof in profile %}
				        <h2>{{prof.name | title}} {{prof.lastname | title}}</h2>
                    {% endfor %}

                    {% for prof in shortdescription %}
			            <h4>{{prof}}</h4>
                    {% endfor %}

				</div>

				<div class="content-profile-description-tablet">
					{% for prof in profile %}
                        <p>{{prof.large_description}}.</p>
                    {% endfor %}
				</div>
			</div>

			<figure class="medium-6 columns image-desc-tablet" data-equalizer-watch>
				<img src="{% static 'images/profile-med-tablet.png' %}" alt="willians image" width="640" height="509" />
			</figure>
		</section>
		<section class="medium-12 columns title-skill-tablet">
			<h2>SKILLS</h2>
		</section>
		<section class="medium-6 columns left-brain-side">
				<figure>
					<img src="{% static 'images/left-brain.png' %}" alt="" />
				</figure>

				<div class="skill-image" id="skill-left-tablet-1">

				</div>
				<div class="skill-image" id="skill-left-tablet-2">

				</div>
				<div class="skill-image" id="skill-left-tablet-3">

				</div>
				<div class="skill-image" id="skill-left-tablet-4">

				</div>
				<div class="skill-image" id="skill-left-tablet-5">

				</div>


				<div class="baseline-brain"></div>
				<h6 class="title-skill first-skill" data-amount="{{skills.0.amount}}">{{skills.0.name}}</h6>
				<div class="topline-brain"></div>


				<div class="baseline-brain"></div>
				<h6 class="title-skill second-skill" data-amount="{{skills.1.amount}}">{{skills.1.name}}</h6>
				<div class="topline-brain"></div>


				<div class="baseline-brain-first"></div>
				<h6 class="title-skill third-skill" data-amount="{{skills.2.amount}}">{{skills.2.name}}</h6>
				<div class="topline-brain-first"></div>



				<div class="baseline-brain-second"></div>
				<h6 class="title-skill fourth-skill" data-amount="{{skills.3.amount}}">{{skills.3.name}}</h6>
				<div class="topline-brain-second"></div>



				<div class="baseline-brain-third"></div>
				<h6 class="title-skill fifth-skill" data-amount="{{skills.4.amount}}">{{skills.4.name}}</h6>
				<div class="topline-brain-third"></div>



				<div class="baseline-brain-fourth"></div>
				<div class="topline-brain-fourth"></div>




		</section>
		<section class="medium-6 columns right-brain-side">
				<figure>
					<img src="{% static 'images/right-brain.png' %}" alt="" />
				</figure>

				<div class="skill-image-right" id="skill-right-tablet-1">

                </div>
                <div class="skill-image-right" id="skill-right-tablet-2">

                </div>
                <div class="skill-image-right" id="skill-right-tablet-3">

                </div>
                <div class="skill-image-right" id="skill-right-tablet-4">

                </div>


				<div class="baseline-brain-right"></div>
				<h6 class="title-skill-right first-skill-right" data-amount="{{skills.5.amount}}">{{skills.5.name}}</h6>
				<div class="topline-brain-right"></div>


				<div class="baseline-brain-right"></div>
                 <h6 class="title-skill-right second-skill-right" data-amount="{{skills.6.amount}}">{{skills.6.name}}</h6>
				<div class="topline-brain-right"></div>


				<div class="baseline-brain-first-right"></div>
                <h6 class="title-skill-right third-skill-right" data-amount="{{skills.7.amount}}">{{skills.7.name}}</h6>
				<div class="topline-brain-first-right"></div>



				<div class="baseline-brain-second-right"></div>
                 <h6 class="title-skill-right fourth-skill-right" data-amount="{{skills.8.amount}}">{{skills.8.name}}</h6>
				<div class="topline-brain-second-right"></div>



				<div class="baseline-brain-third-right"></div>
				<div class="topline-brain-third-right"></div>


		</section>
	</section>


	<section class="row web-page">
		<section class="large-12 colums">
			<div class="bg-web-logo">
				<figure>
					<img src="{% static 'images/logo-big.png' %}" alt="" />
				</figure>
                {% for prof in profile %}
				<h2>{{prof.name | title}} {{prof.lastname | title}}</h2>
                {% endfor %}

                {% for prof in shortdescription %}
			    <h6>{{prof}}</h6>
                {% endfor %}
			</div>
		</section>
		<section class="large-12 medium-12 columns web-content-profile-wrapper">
			<div class="large-6 medium-6 columns profile-content-web-init">
				{% for prof in profile %}
				<h2>{{prof.name | upper}} {{prof.lastname | upper}}</h2>
                {% endfor %}
                {% for prof in shortdescription %}

			     <h6>{{prof}}</h6>

                {% endfor %}

                {% for prof in profile %}
                    <p>{{prof.short_description}}.</p>
                    <a href="#" class="expand-more-profile">+</a>
                {% endfor %}

			</div>
			<div class="profile-skilllogo-web-init">

			</div>
			<div class="large-6 medium-6 columns profile-image-web-init">
				<figure>
					<img src="{% static 'images/profile-med.png' %}" alt="" />
				</figure>
			</div>
			<div class="mini-brain-web">
				<figure>
					<img src="{% static 'images/mini-brain.png' %}" alt="" />
				</figure>
			</div>
			<h2 class="mini-title-web">SKILLS</h2>
		</section>
		<section style=" position: relative">

		<section class="large-12 medium-12 columns web-more-profile">
			<span class="close-more-profile">X</span>
            {% for prof in profile %}
                <p>
                    {{prof.large_description}}
                </p>
            {% endfor %}
		</section>
		</section>
		<section class="large-12 medium-12 columns big-title-web">
			<h2>skills</h2>
		</section>

	</section>
	<section class="row-fluid brain-offset-content-web">
		<section class="large-6 medium-6 columns wrapper-offset-left-web-brain"></section>
		<section class="row">
			<section class="large-12 medium-12 columns brain-wrapper-web">
				<section class="large-6 medium-6 columns brain-left-content-web" id="leftSideBrain">
					<figure>
						<img src="{% static 'images/left-brainweb.png' %}" alt="" />
					</figure>
					<div class="skill-image" id="skill-left-1">

					</div>
					<div class="skill-image" id="skill-left-2">

					</div>
					<div class="skill-image" id="skill-left-3">

					</div>
					<div class="skill-image" id="skill-left-4">

					</div>
					<div class="skill-image" id="skill-left-5">

					</div>
                    <img class="loader-skills-left" src="{% static 'images/ajax-loader.gif' %}" alt=""/>

                        <div class="baseline-brain"></div>
                        <h6 class="title-skill first-skill" data-amount="{{skills.0.amount}}">{{skills.0.name}}</h6>
                        <div class="topline-brain"></div>


                        <div class="baseline-brain"></div>
                        <h6 class="title-skill second-skill" data-amount="{{skills.1.amount}}">{{skills.1.name}}</h6>
                        <div class="topline-brain"></div>


                        <div class="baseline-brain-first"></div>
                        <h6 class="title-skill third-skill" data-amount="{{skills.2.amount}}">{{skills.2.name}}</h6>
                        <div class="topline-brain-first"></div>



                        <div class="baseline-brain-second"></div>
                        <h6 class="title-skill fourth-skill" data-amount="{{skills.3.amount}}">{{skills.3.name}}</h6>
                        <div class="topline-brain-second"></div>



                        <div class="baseline-brain-third"></div>
                        <h6 class="title-skill fifth-skill" data-amount="{{skills.4.amount}}">{{skills.4.name}}</h6>
                        <div class="topline-brain-third"></div>



					<div class="baseline-brain-fourth"></div>
					<div class="topline-brain-fourth"></div>

				</section>
				<section class="large-6 medium-6 columns brain-right-content-web">

					<figure>
						<img src="{% static 'images/right-brainweb.png' %}" alt="">
					</figure>
					<div class="skill-image-right" id="skill-right-1">

					</div>
					<div class="skill-image-right" id="skill-right-2">

					</div>
					<div class="skill-image-right" id="skill-right-3">

					</div>
					<div class="skill-image-right" id="skill-right-4">

					</div>
                    <img class="loader-skills-right" src="{% static 'images/ajax-loader.gif' %}" alt=""/>

					<div class="baseline-brain-right"></div>
					<h6 class="title-skill-right first-skill-right" data-amount="{{skills.5.amount}}">{{skills.5.name}}</h6>
					<div class="topline-brain-right"></div>


					<div class="baseline-brain-right"></div>
                    <h6 class="title-skill-right second-skill-right" data-amount="{{skills.6.amount}}">{{skills.6.name}}</h6>
					<div class="topline-brain-right"></div>


					<div class="baseline-brain-first-right"></div>
                    <h6 class="title-skill-right third-skill-right" data-amount="{{skills.7.amount}}">{{skills.7.name}}</h6>
					<div class="topline-brain-first-right"></div>



					<div class="baseline-brain-second-right"></div>
                    <h6 class="title-skill-right fourth-skill-right" data-amount="{{skills.8.amount}}">{{skills.8.name}}</h6>
					<div class="topline-brain-second-right"></div>



					<div class="baseline-brain-third-right"></div>
					<div class="topline-brain-third-right"></div>
				</section>
			</section>
		</section>
		<section class="large-6 medium-6 columns wrapper-offset-right-web-brain"></section>
	</section>


{% endblock content %}

     {% block libs%}
        <script src="{% static 'lib/progressbar.min.js' %}"></script>
        <script src="{% static 'js/circles.js' %}"></script>
    {% endblock libs%}
