{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    <section class="row">
        <div class="medium-12 columns">
            <div id="three-circle">

            </div>

        </div>

    </section>
{% endblock content %}

{% block libs%}
        <script src="{% static 'lib/typeface-0.15.js' %}"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js"></script>
        <script src="{% static 'fonts/optimer_bold.typeface.js' %}"></script>
        <script src="{% static 'fonts/00_starmap_truetype_regular.typeface.js' %}"></script>
        <script src="{% static 'lib/tween.min.js' %}"></script>
        <script src="{% static 'js/site3d.js' %}"></script>

{% endblock libs%}
