{% extends 'base.html' %}
{% load static from staticfiles %}
{% load thumbnail %}
{% block content %}
    <section class="row small-page">
		<div id="container-small-wall" class="free-wall">
            {% for categories in category_list %}
			<div class="box">
				<figure class="effect-bubba">
					<img src="{% thumbnail categories.photo 1000x400 %}" alt="">

                    <figcaption>
						<h2><span>{{categories.title}}</span></h2>
						<a href="{{categories.slug}}">View more</a>
					</figcaption>

				</figure>

			</div>
            {% empty %}
            <div data-alert class="alert-box info">
                    Pronto tendr&eacute; aplicaciones en esta categor&iacute;a
                    <a href="#" class="close">&times;</a>
            </div>
            {% endfor %}

		</div>
	</section>
    <section class="row tablet-page">
		<div id="container-tablet-wall" class="free-wall">
            {% for categories in category_list %}
			<div class="box">
				<figure class="effect-bubba">
					<img src="{% thumbnail categories.photo 1000x400 %}" alt="">

                    <figcaption>
						<h2><span>{{categories.title}}</span></h2>
						<a href="{{categories.slug}}">View more</a>
					</figcaption>

				</figure>

			</div>
            {% empty %}
            <div data-alert class="alert-box info">
                    Pronto tendr&eacute; aplicaciones en esta categor&iacute;a
                    <a href="#" class="close">&times;</a>
            </div>
            {% endfor %}

		</div>
	</section>

    <section class="row web-page">
		<div id="container-wall" class="free-wall">
            {% for categories in category_list %}
			<div class="box">
				<figure class="effect-bubba">
					<img src="{% thumbnail categories.photo 1000x400 %}" alt="">

                    <figcaption>
						<h2><span>{{categories.title}}</span></h2>
						<a href="{{categories.slug}}">View more</a>
					</figcaption>

				</figure>

			</div>
            {% empty %}
             <div data-alert class="alert-box info">
                    Pronto tendr&eacute; aplicaciones en esta categor&iacute;a
                    <a href="#" class="close">&times;</a>
            </div>
            {% endfor %}

		</div>
	</section>
{% endblock content %}

{% block libs%}
    <script src="{% static 'lib/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'lib/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/gridMasonry.js' %}"></script>
{% endblock libs%}